/* src/router/Layout.css */
.semi-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.navbar-top {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.navbar-bottom {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}


.semi-layout-content {
    flex: 1;
    margin-top: 50px; 
    margin-bottom: 50px; 
    overflow-y: auto; 
    padding: 20px;
    background-color: var(--semi-color-bg-0); 
}


.activity-container {
    padding: 20px;
}

.activity-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.star-rating label {
    padding: 10px;
    cursor: pointer;
}

.star-rating input[type="radio"] {
    display: none;
}

.star {
    transition: color 200ms;
}
